@font-face {
  font-family: "Inter";
  src: url("../assets/Inter.ttf");
}

#convertbox-modal-space {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    /* display: none; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
}

.convertbox-modal-layout {
    background-color: #000000e5;
    width: 600px;
    max-width: 100%;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.convertbox-modal-title {
    font-size: 40px;
}

.convertbox-description {
    font-size: 18px;
}

.convertbox-modal-close {
    margin-top: 30px;
}

.convertbox-modal-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 45%;
    margin-bottom: 15px;
    margin-top: 10px;
}

.convertbox-modal-button {
    padding: 10px 20px;
    background-color: #080808;
    color: #ffffff;
    border: none;
    border-radius: 8px;
}

.convertbox-modal-button:hover {
    background-color: #151515;
}